# CI de Nível 04 - Disparo dentro do fluxo de CI de desenvolvimento

# nome que vai aparecer la nas opções de pipe
name: 'Execução Integrada'

# regras de disparo da execucao (triggers/gatilhos)
# gatilho de exec manual = workflow_dispatch

on:
  workflow_dispatch:

jobs:
  # - baixar as dependencias
  # - compilar
  # - testar
  inspection:
    # maquina que vai rodar
    runs-on: ubuntu-latest

    #passo a paso das acoes do job
    steps:
      # - run: echo 'Execucao manual'
      - uses: actions/checkout@v4
      # - uses: actions/setup-node@v4
      #     with:
      #         node-version: lts/*
      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Padronizaacaop de codigo
        run: yarn lint
  # descricao do job
  e2e-tests:
    # maquina que o job vai executar
    runs-on: ['ubuntu-latest']

    # passo a passo das acoes do job
    steps:
      - uses: actions/checkout@v4

      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: lts/*

      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn

      - name: Instalando Playwright
        run: yarn playwright install

      - name: Testes E2E (end-to-end)
        run: yarn run e2e

      # passed, faled, cancelled
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: relatorio-de-testes
          path: ./playwright-report